section.intro, .intro {
  position: relative;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 55vh;
  margin-bottom: 40px;

  font-family: 'Montserrat', sans-serif; // same as about
  font-size: 14px;
  font-weight: 500;

  //font-family: 'Poppins', sans-serif;
  //font-weight: 400;

  &-logo {
    position: absolute;
    top: 27px;
    left: -44px;

    //@include media("<lg") {
    //  left: -(44px - $content-padding-md); // FIXME: looks ugly
    //}
  }

  p {
    margin-block-end: 0.5rem;
  }

  @include media("<lg") {
    padding: 0 $content-padding-md;
  }
}

h1 {
  margin-bottom: 20px;
}
