<article id="about" class="about column">
  <div class="about-wrapper">
    <h1>
      About
    </h1>

    <p>
      I had the chance to start numerous projects throughout my career.
      <br>
      Some were successful projects managed by a big team of developers. Others died.
    </p>

    <p>
      I've seen people struggling to start a new project. It's like a blank canvas, you have a lot of freedom, but things can go wild. And throughout the years, some patterns emerged. Something that we've ended up using anyways, regardless of whether we set them up in the beginning.
    </p>

    <p>
      This page is my take on defining a list of best practices you can follow when starting a new project. There are things you can do to lay yourself, and your team, for success. An explanation for each item is given, along with a basic categorization.
    </p>

    <p>
      If you believe the list can be improved, please
      <a href="mailto:me@email.com" class="underlined colorful" title="Email me">
        send me a letter</a> or open an issue on
      <a href="https://github.com/codenomnom/scratch-from-start" class="underlined colorful" title="Scratch From Start @ GitHub" target="_blank">
        GitHub
      </a>. It's an open effort for everyone to join.
    </p>

    <p style="margin-bottom: 30px;">Good luck!</p>
  </div>
</article>
