<section class="intro column mw800">
  <a href="#" class="intro-logo no-decoration">
    <img src="/images/document.png" width="32" alt="anchor">
  </a>

  <h1>
    <s>Scratch</s> From Start <sup>fe</sup>
  </h1>

  <p>
    New project, new setup!
<!--    🔨-->
<!--    🛠️-->
<!--    🧱-->
<!--    🏭-->
<!--    🔧-->
<!--    🚢-->
<!--    🚀-->
<!--    📦-->
<!--    ✂️-->
<!--    🧶-->
<!--    🧩-->
<!--    🤯-->
    🎉
    <i class="fa-solid fa-up-right-from-square"></i>
  </p>

  <p>
    A dead simple <strong>printable 🖨️ list of best practices</strong> you can follow, regardless of your tech stack.
    <br>
    Steps are marked as
    <span class="chip important">important</span>,
    <span class="chip great">great</span> or
    <span class="chip extra">extra</span> for your project.
  </p>

  <p>
    Don't add technical depth from the very beginning!
    <br>
    Rule it.
  </p>
</section>
